<div class="modal fade" id="editarModalProducto" tabindex="-1" aria-labelledby="modalActualizarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroLabel">Actualizar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/actualizar_producto" method="post" onsubmit="return validarFormulario()">
                    <input type="hidden" id="editarproductoId" name="id_producto">
                    <div class="mb-3">
                        <label for="medidaeditar" class="form-label">Media</label>

                        <input type="txt" class="form-control" id="medidaeditar" name="medidaeditar">
                        <div class="invalid-feedback" id="medidaError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="proveedoreseditar" class="form-label">Proveedor</label><br>
                        <select id="proveedoreseditar" name="proveedoreseditar" class="form-control">
                            {% for proveedor in proveedores %}
                            <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}</option>
                            {% endfor %}
                        </select> 
                        <div class="invalid-feedback" id="proveedoresError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="productoeditar" class="form-label">Nombre</label>
                        <input type="txt" class="form-control" id="productoeditar" name="productoeditar">
                        <div class="invalid-feedback" id="prouductoError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="calidadeditar" class="form-label">Calidad</label>
                        <input type="txt" class="form-control" id="calidadeditar" name="calidadeditar">
                        <div class="invalid-feedback" id="calidadError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="existenciaeditar" class="form-label">Existencia</label>
                        <input type="txt" class="form-control" id="existenciaeditar" name="existenciaeditar">
                        <div class="invalid-feedback" id="existenciaError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="rotaseditar" class="form-label">Rotas</label>
                        <input type="txt" class="form-control" id="rotaseditar" name="rotaseditar">
                        <div class="invalid-feedback" id="rotasError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="precioeditar" class="form-label">Precio</label>
                        <input type="txt" class="form-control" id="precioeditar" name="precioeditar">
                        <div class="invalid-feedback" id="precioError"></div>
                    </div><div class="mb-3">
                        <label for="embalajeeditar" class="form-label">Embalaje</label>
                        <input type="txt" class="form-control" id="embalajeeditar" name="embalajeeditar">
                        <div class="invalid-feedback" id="embalajeError"></div>
                    </div><div class="mb-3">
                        <label for="ubicacioneditar" class="form-label">Ubicación</label>
                        <input type="txt" class="form-control" id="ubicacioneditar" name="ubicacioneditar">
                        <div class="invalid-feedback" id="ubicacionError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="categoriaseditar" class="form-label">Categoría</label><br>
                        <select id="categoriaseditar" name="categoriaseditar" class="form-control">
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select> 
                        <div class="invalid-feedback" id="categoriasError"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" id="Registrar" name="Registrar">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  