<div class="modal fade" id="editarModalCategoria" tabindex="-1" aria-labelledby="modalActualizarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroLabel">Actualizar categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/actualizar_categoria" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
                    <input type="hidden" id="editarcategoriaId" name="id_categoria">
                    <div class="mb-3">
                        <label for="nombreeditar" class="form-label">Nombre</label>
                        <input type="txt" class="form-control" id="nombreeditar" name="nombreeditar">
                        <div class="invalid-feedback" id="nombreError"></div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="descripcioneditar" class="form-label">Descripción</label>
                        <input type="txt" class="form-control" id="descripcioneditar" name="descripcioneditar">
                        <div class="invalid-feedback" id="descripcionError"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" id="Registrar" name="Registrar">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  