<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body>
    <div class="menu">
        <ul class="fondo1">
            <img class="Logovista" src="/static/img/logov.jpeg" alt="">
            <li>GLACER Glamur Cerámico S.A de C.V <p class="titulo">Atlacomulco-Vías</p> </li>
            <div class=""><input type="search" id="buscarproducto" name="" placeholder="Buscar producto..."><i id="buscar" class="bi bi-search"></i> </div>
            
        </ul>
        <div class="menu2">
            <ul class="fondo"><br><br>
                
                <li class="menu5">
                    <a class="menuProductos" href="#" id="home-link" class="current scroll">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    <ul id="subcategories"> 
                        <li>
                            <a href="/consulta_productos" class="menu-item" id="pisos-link">Pisos</a>
                            <ul class="subcategorias_pisos" style="display: none;">
                                <li><a href="/consulta_productos">Cerámicos</a></li>
                                <li><a href="/consulta_porcelanicos">Porcelánicos</a></li>
                                <li><a href="">Duelas</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/consulta_muros" class="menu-item" id="ad-link">Muros</a>
                            <ul class="subcategorias_ad" style="display: none;">
                                <li><a href="">Muro ceramico</a></li>
                                <li><a href="">Muro importados</a></li>
                                <li><a href="">Facheletas</a></li>
                            </ul>
                        </li>
                        <li >
                            <a href="/consulta_adhesivos" class="menu-item" id="muros-link">Adhesivos</a>
                            <ul class="subcategorias_muros" style="display: none;">
                                <li><a href="">Pegazulejos</a></li>
                                <li><a href="">Estuco</a></li>
                                <li><a href="">Juntas y boquillas</a></li>
                            </ul>
                        </li>
                        <li><a href="">Sanitoarios</a></li>
                        <li><a href="">Tinacos</a></li>
                        <li><a href="">Cisternas</a></li>
                        <li><a href="">Vitroblock</a></li>
                    </ul>
                </li>
                <a href="/consulta_proveedores" class="scroll"><i class="bi bi-people-fill"></i></a>
                <a href="/consulta_categorias" class="scroll"><i class="bi bi-bookmark-fill"></i></a>
                <a href="#" class="scroll"><i class="bi bi-cart-plus-fill"></i></a>
                <a href="#" class="scroll"><i class="bi bi-cart-check-fill"></i></a>
                <a class="scroll" href="{{ url_for('logout') }}"><i class="bi bi-power"></i></a>
            </ul>
        </div>
        
        
        
        {% include 'consulta_producto.html'%}
        {% include 'registrar_producto.html' %}
        {% include 'actualizar_productos.html' %}
        {% include 'eliminar_producto.html' %}

        

        
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="/static/js/jsproductos.js"></script>
    
    

    
</body>
</html>

