<main role="main" id="TablaProductos" class="col-md-11">
    <div id="nombre">
        <div class="elemento1">
            {% if 'nombre' in session %}
            <h4>¡Hola!, {{ session['nombre'] }} </h4>
            
        {% else %}
            
        {% endif %}
        </div>
        <div class="elemento">
            <button type="button" id="registroProducto" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productos">
        
                <i class="fas fa-plus"></i> Producto
            </button>
        </div>
    </div>
    <div class="card  mt-10" id="contenido">
        <div class="card-header text-center">
            <h4>Tabla de adhesivos</h4>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
     <div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">
        {{ message }}
      </div>
      <script>
        // Cerrar automáticamente la alerta después de 5 segundos
        setTimeout(function() {
          $('.alert').alert('close');
        }, 1500);
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}
        <div class="card-body">
            <div class=" table-responsive">
                <table  class="table table-striped  table-sm" id="tabla_productos">
                    <thead>
                        <tr>
                            
                            <th scope="col">Proveedor</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Kilogramos</th>
                            <th scope="col">Existencia</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for adhesivo in adhesivos %}
                        <tr>
                            
                            <td>{{adhesivo.proveedor_nombre}}</td>
                            <td>{{adhesivo.nombre}}</td>
                            <td>{{adhesivo.kilogramos}}</td>
                            <td>
                                {% if adhesivo.existencia < 10 %}
                                    <span class="circulo-rojo">{{ adhesivo.existencia }}</span>
                                {% else %}
                                    {{ adhesivo.existencia }}
                                {% endif %}
                            </td>
                            <td>{{adhesivo.precio}}</td>
                            <td>{{adhesivo.ubicacion}}</td>
                            <td>{{adhesivo.categoria_nombre}}</td>
                            <td>
                                <button type="submit" class="btn btn-primary" id="btnactualizar" data-bs-toggle="modal" data-bs-target="#editarModalProductoAdhesivos" data-id="{{ adhesivo.id_adhesivos }}"  data-proveedor="{{ adhesivo.id_proveedor }}" data-producto="{{adhesivo.nombre}}" data-kilogramos="{{ adhesivo.kilogramos }}" data-existencias="{{ adhesivo.existencia }}"  data-precio="{{adhesivo.precio}}" data-ubicacion="{{adhesivo.ubicacion}}" data-categoria="{{adhesivo.id_categoria}}" value="#"><i class="bi bi-arrow-clockwise"></i></button>
                                
                                <button type="submit" class="btn btn-danger" id="btneliminar" data-bs-toggle="modal" data-bs-target="#eliminarA" value="{{ adhesivo.id_adhesivos }}" data-id="{{ adhesivo.id_adhesivos }}"><i class="bi bi-trash3-fill"></i></button>
                                
                            </td>
                        </tr>
                        {% endfor %}
                        <script>
                            
                        </script>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted ">
            SISTEMA GLACER
        </div>
    </div>
    
</main>


