<div class="modal fade" id="eliminarA" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="cuadroeliminar">
            <div class="modal-header">
                <h5 class="modal-title" id="modalElminarLabel">Eliminar producto</h5>
                <button type="button" id="cerrar" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEliminar" action="" method="post">
                    <div class="mb-3">
                        <p>¿Deseas eliminar este registro?</p>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelar" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" id="Eliminar" name="Eliminar">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  