<main role="main" id="TablaProductos" class="col-md-11">
    <div id="nombre">
        <div class="elemento1">
            {% if 'nombre' in session %}
            <h4>¡Hola!, {{ session['nombre'] }} </h4>
            
        {% else %}
            
        {% endif %}
        </div>
        <div class="elemento">
            <button type="button" id="registroProducto" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productos">
        
                <i class="fas fa-plus"></i> Producto
            </button>
        </div>
    </div>
    <div class="card  mt-10" id="contenido">
        <div class="card-header text-center">
            <h4>Tabla de muros</h4>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
     <div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">
        {{ message }}
      </div>
      <script>
        // Cerrar automáticamente la alerta después de 5 segundos
        setTimeout(function() {
          $('.alert').alert('close');
        }, 1500);
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}
        <div class="card-body">
            <div class=" table-responsive">
                <table  class="table table-striped  table-sm" id="tabla_productos">
                    <thead>
                        <tr>
                            <th scope="col">Medida</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Calidad</th>
                            <th scope="col">Existencia</th>
                            <th scope="col">Rotas</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Embalaje</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for muro in muros %}
                        <tr>
                            
                            <td>{{muro.medidas}}</td>
                            <td>{{muro.proveedor_nombre}}</td>
                            <td>{{muro.producto}}</td>
                            <td >{{muro.calidad}}</td>
                            <td>
                                {% if muro.existencias < 10 %}
                                    <span class="circulo-rojo">{{ muro.existencias }}</span>
                                {% else %}
                                    {{ muro.existencias }}
                                {% endif %}
                            </td>
                            <td>{{muro.rotas}}</td>
                            <td>{{muro.precio}}</td>
                            <td>{{muro.embalaje}}</td>
                            <td>{{muro.ubicacion}}</td>
                            <td>{{muro.categoria_nombre}}</td>

                            <td>
                                <button type="submit" class="btn btn-primary" id="btnactualizar" data-bs-toggle="modal" data-bs-target="#editarModalProductoMuros" data-id="{{ muro.id_producto }}" data-medidas="{{ muro.medidas }}" data-proveedor="{{ muro.id_proveedor }}" data-producto="{{muro.producto}}" data-calidad="{{ muro.calidad }}" data-existencias="{{ muro.existencias }}" data-rotas="{{muro.rotas}}" data-precio="{{muro.precio}}" data-embalaje="{{muro.embalaje}}" data-ubicacion="{{muro.ubicacion}}" data-categoria="{{muro.id_categoria}}" value="#"><i class="bi bi-arrow-clockwise"></i></button>
                                <button type="submit" class="btn btn-danger" id="btneliminar" data-bs-toggle="modal" data-bs-target="#eliminarM" value="{{ muro.id_producto }}" data-id="{{ muro.id_producto }}"><i class="bi bi-trash3-fill"></i></button>
                                <button type="submit" class="btn btn-success" id="btnentradas" data-bs-toggle="modal" data-bs-target="#editarModalProducto" value="#"><i class="bi bi-box-arrow-left"></i></button>
                                <button type="submit" class="btn btn-danger" id="btneliminar" data-bs-toggle="modal" data-bs-target="#eliminarP" ><i class="bi bi-box-arrow-right"></i></button>
                                <button type="submit" class="btn btn-primary" id="btnactualizar" data-bs-toggle="modal" data-bs-target="#eliminarP" ><i class="bi bi-printer-fill"></i></button>

                            </td>
                                                
                        </tr>
                        {% endfor %}
                        <script>
                            
                        </script>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted ">
            SISTEMA GLACER
        </div>
    </div>
    
</main>


