<div class="modal fade" id="modalRegistroPor" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroLabel">Nuevo producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/registro_muros" method="post" onsubmit="return validarFormularioproducto()">
                    <div class="mb-3">
                        <label for="medida" class="form-label">Media</label>
                        <input type="txt" class="form-control" id="medida" name="medida">
                        <div class="invalid-feedback" id="medidaError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="proveedores" class="form-label">Proveedor</label><br>
                        <select id="proveedores" name="proveedores" class="form-control">
                            <option value="" id="proveedores">Selecciona una opción</option>
                            {% for proveedor in proveedores %}
                            <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}</option>
                            {% endfor %}
                        </select> 
                        <div class="invalid-feedback" id="proveedoresError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="producto" class="form-label">Nombre</label>
                        <input type="txt" class="form-control" id="producto" name="producto">
                        <div class="invalid-feedback" id="productoError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="calidad" class="form-label">Calidad</label>
                        <input type="txt" class="form-control" id="calidad" name="calidad">
                        <div class="invalid-feedback" id="calidadError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="existencia" class="form-label">Existencia</label>
                        <input type="txt" class="form-control" id="existencia" name="existencia">
                        <div class="invalid-feedback" id="existenciaError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="rotas" class="form-label">Rotas</label>
                        <input type="txt" class="form-control" id="rotas" name="rotas">
                        <div class="invalid-feedback" id="rotasError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="txt" class="form-control" id="precio" name="precio">
                        <div class="invalid-feedback" id="precioError"></div>
                    </div><div class="mb-3">
                        <label for="embalaje" class="form-label">Embalaje</label>
                        <input type="txt" class="form-control" id="embalaje" name="embalaje">
                        <div class="invalid-feedback" id="embalajeError"></div>
                    </div><div class="mb-3">
                        <label for="ubicacion" class="form-label">Ubicación</label>
                        <input type="txt" class="form-control" id="ubicacion" name="ubicacion">
                        <div class="invalid-feedback" id="ubicacionError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="categorias" class="form-label">Categoría</label><br>
                        <select id="categorias" name="categorias" class="form-control">
                            <option value="" id="categorias">Selecciona una opción</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select> 
                        <div class="invalid-feedback" id="categoriasError"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" id="Registrar" name="Registrar">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  