<main role="main" id="Tabla" class="col-md-10">

    <div id="nombre">
        <div class="elemento1">
            {% if 'nombre' in session %}
            <h4>¡Hola!, {{ session['nombre'] }} </h4>
            
        {% else %}
            
        {% endif %}
        </div>
        <div class="elemento">
            <button type="button" id="registroProveedor" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productos">
                <i class="fas fa-plus"></i> Proveedor
            </button>
        </div>
    </div>
    
    <div class="card  mt-10" id="contenido">
        <div class="card-header text-center">
            <h4>Consulta proveedores</h4>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
     <div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">
        {{ message }}
      </div>
      <script>
        // Cerrar automáticamente la alerta después de 5 segundos
        setTimeout(function() {
          $('.alert').alert('close');
        }, 1500);
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}
        <div class="card-body">
            <div class=" table-responsive">
                <table  class="table table-striped  table-sm" id="tabla_proveedores">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedor in proveedores %}
                        <tr>
                            <td>{{proveedor.nombre}}</td>
                            <td>{{proveedor.telefono}}</td>
                            <td>{{proveedor.correo}}</td>
                            <td>{{proveedor.direccion}}</td>
                            <td><img src="{{ url_for('static', filename='uploads/' + proveedor.foto) }}"  alt="Foto de proveedor" style="width: 60px; height: auto;">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" id="btnactualizar" data-bs-toggle="modal" data-bs-target="#editarModalProveedor" data-id="{{ proveedor.id_proveedor }}" data-nombre="{{ proveedor.nombre }}" data-telefono="{{ proveedor.telefono }}" data-correo="{{ proveedor.correo }}" data-direccion="{{ proveedor.direccion }}" data-foto="{{ proveedor.foto }}" value="#"><i class="bi bi-arrow-clockwise"></i></button>
                                <button type="submit" class="btn btn-danger" id="btneliminar" data-bs-toggle="modal" data-bs-target="#eliminarProveedor" value="{{ proveedor.id_proveedor }}" data-id="{{ proveedor.id_proveedor }}"><i class="bi bi-trash3-fill"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        <script>
                            
                        </script>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted ">
            SISTEMA GLACER
        </div>
    </div>
    
</main>

<style>
    /* estilos de la paginacion */

    .pagination .page-item {
        margin: 0 -10px;
        width: auto;
        height: auto;
        
    }

    .pagination .page-link {
        font-size: 17px;
        padding: 4px 10px;
    }

    .pagination .page-item.active .page-link {
        background-color: rgb(48, 122, 190) ;
        border-color: rgb(48, 122, 190);
        color: white;
        
    }

    .pagination .page-item.disabled .page-link {
        
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        color: #6c757d;
    }

    .pagination .page-link {
        cursor: pointer;
    }

    .pagination .page-item:hover .page-link {
        
        background-color: #f1f1f1;
    }
    #pages{
      
      width: 18%;
      height: 20px;
      margin: -69px 0 0 75% ;
    
    
    }
    

</style>

<div id="pages" class="card-footer text-muted">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('consulta_proveedores', page=page-1) }}" aria-label="Anterior">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&lt;</span>
            </li>
            {% endif %}

            {% for p in page_range %}
                {% if p == '...' %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% else %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('consulta_proveedores', page=p) }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('consulta_proveedores', page=page+1) }}" aria-label="Siguiente">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&gt;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

